<button (click)="addBug()" class="btn btn2">添加新Bug</button>
<button (click)="sortList('up')" class="btn btn1">正序</button>
<button (click)="sortList('down')" class="btn btn3">逆序</button>
<button (click)="sortList('random')" class="btn btn5">随机</button>

<table>
    <tr>
        <th>Index</th>
        <th>Level</th>
        <th>Status</th>
        <th>Assignee Name</th>
    </tr>
    <tr *ngFor="let bug of bugs">
        <td>{{bug.index}}</td>
        <td>{{bug.level}}</td>
        <td>{{bug.status}}</td>
        <td>{{bug.assigneeName}}</td>
    </tr>
</table>